<div class="container">


<!-- Start edit buttons for header object -->
  <div class="form-group">
    <%= link_to "Edit", project_edit_path(@user, @project), class: "btn-sm btn-primary" %>
    <%= link_to "Delete this Project", user_project_path(@user, @project), method: :delete, class: "btn-sm btn-primary" %>
  </div>
<!-- End edit buttons for header object -->

<!-- Start of Page Header -->
  <div class="text-left page-header custom-page-header">

    <h1> <%= link_to "#{@project.name}", user_projects_path(@user) %>
      <small>milestones</small> 
    </h1>

  </div> 
<!-- End of Page Header -->


  <div class="row">  

      <% @milestones.each do |milestone|%>

          <div class="col-sm-4 col-md-3 custom-column">

            <%= link_to project_milestone_path(@user, @project, milestone) do %>
              <div class="text-center col-md-12 project">
                <p><%= "#{milestone.name}" %></p>
              </div>
            <% end %>

            <div class="col-md-12">
              <ul class="list-group">
                <% milestone.active_tasks.each do |task| %>
                  <%= form_for(task, as: :task)  do |f| %>

                      <li class="list-group-item">
                            <div class="pull-left">
                              <%= task.description %>
                            </div>
                            <div class="text-right">
                              <%= f.submit "Done", class: "btn btn-primary btn-xs" %>
                            </div>
                      </li>

                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

      <% end %>
  </div>


  <h3>Add a new Milestone</h3>

  <%= link_to "+ New Milestone", new_project_milestone_path, class: "btn btn-primary" %>

  <%= link_to "Back to my Projects", user_projects_path(@user) %>

</div>


